.sass-cache
.DS_Store
.htaccess
/COPYING
/CREDITS
/FAQ
/HISTORY
/INSTALL
/LocalSettings.php
/README
/RELEASE-NOTES-1.20
/StartProfiler.sample
/UPGRADE
/api.php
/api.php5
/bin
/log/*
/tmp/*
/cache
/conf
/docs
/extensions
/images
/languages
/img_auth.php
/img_auth.php5
/includes
/*.php*
/*.phtml
/maintenance
/mw-config
/resources
/serialized
/tests
