/*
 * Based on the Wikipedia Vector stylesheet
 */
body  {
  margin: 2.6em 0 0 0 !important;
}

#content a,
#mw-head #p-views > ul > li > a {
  color: #0060b0 !important;
}

div#content {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
}
body.ns-subject div#content {
  max-width: 40em;
}

/* Panel */
div#mw-panel {
  padding-top: 1em;
  width: 10em;
}
div#mw-panel div.portal {
  padding-bottom: 1.5em;
  direction: ltr;
}
div#mw-panel div.portal h5 {
  font-weight: normal;
  color: #444;
  padding: 0.25em;
  padding-top: 0;
  padding-left: 1.75em;
  cursor: default;
  border: none;
  font-size: 0.8125em;
}
div#mw-panel div.portal div.body {
  margin: 0;
  padding-top: 0.5em;
  margin-left: 1.25em;
}
div#mw-panel div.portal div.body ul {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div#mw-panel div.portal div.body ul li {
  line-height: 1.125em;
  padding: 0;
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 0.8125em;
  word-wrap: break-word;
}
div#mw-panel div.portal div.body ul li a {
  color: #0645ad;
}
div#mw-panel div.portal div.body ul li a:visited {
  color: #0b0080;
}

ul.page-info {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
}
.page-info li {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8125em;
}

/* Preferences */
#preftoc {
  /* Tabs */
  width: 100%;
  float: left;
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
}
  #preftoc li {
    /* Tab */
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 1px;
    height: 2.25em;
    white-space: nowrap;
    list-style-type: none;
    list-style-image: none;
  }
  /* Sadly, IE6 won't understand this */
  #preftoc li:first-child {
    margin-left: 1px;
  }
  #preftoc a,
  #preftoc a:active {
    display: inline-block;
    position: relative;
    color: #0645ad;
    padding: 0.5em;
    text-decoration: none;
    background-image: none;
    font-size: 0.8125em;
  }
  #preftoc li.selected a {
    color: #333;
    text-decoration: none;
  }
#preferences {
  float: left;
  width: 100%;
  margin: 0;
  margin-top: -2px;
  clear: both;
  border: solid 1px #ccc;
  background-color: #f9f9f9;
}
#preferences fieldset {
  border: none;
  border-top: solid 1px #ccc;
}
#preferences fieldset.prefsection {
  border: none;
  padding: 0;
  margin: 1em;
}
#preferences legend {
  color: #666;
}
#preferences fieldset.prefsection legend.mainLegend {
  display: none;
}
#preferences td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.htmlform-tip {
  font-size: 0.8125em;
  padding: .2em 2em;
  color: #666;
}
#preferences div.mw-prefs-buttons {
  padding: 1em;
}
#preferences div.mw-prefs-buttons input {
  margin-right: 0.25em;
}

/**
 * The following code is slightly modified from monobook
 */
div#content {
  line-height: 1.5em;
}
#bodyContent {
}

.editsection {
  float: right;
}

pre, .mw-code {
  line-height: 1.3em;
}

/* Site Notice (includes notices from CentralNotice extension) */
#siteNotice {
  font-size: 0.8125em;
}
#firstHeading {
  padding-top: 0;
  margin-top: 0;
  padding-top: 0;
}
div#content a.external,
div#content a.external[href ^="gopher://"] {
  padding-right: 13px;
}
div#content a.external[href ^="https://"],
.link-https {
  padding-right: 13px;
}
div#content a.external[href ^="mailto:"],
.link-mailto {
  padding-right: 13px;
}
div#content a.external[href ^="news:"] {
  padding-right: 13px;
}
div#content a.external[href ^="ftp://"],
.link-ftp {
  padding-right: 13px;
}
div#content a.external[href ^="irc://"],
div#content a.external[href ^="ircs://"],
.link-irc {
  padding-right: 13px;
}
div#content a.external[href $=".ogg"], div#content a.external[href $=".OGG"],
div#content a.external[href $=".mid"], div#content a.external[href $=".MID"],
div#content a.external[href $=".midi"], div#content a.external[href $=".MIDI"],
div#content a.external[href $=".mp3"], div#content a.external[href $=".MP3"],
div#content a.external[href $=".wav"], div#content a.external[href $=".WAV"],
div#content a.external[href $=".wma"], div#content a.external[href $=".WMA"],
.link-audio {
  padding-right: 13px;
}
div#content a.external[href $=".ogm"], div#content a.external[href $=".OGM"],
div#content a.external[href $=".avi"], div#content a.external[href $=".AVI"],
div#content a.external[href $=".mpeg"], div#content a.external[href $=".MPEG"],
div#content a.external[href $=".mpg"], div#content a.external[href $=".MPG"],
.link-video {
  padding-right: 13px;
}
div#content a.external[href $=".pdf"], div#content a.external[href $=".PDF"],
div#content a.external[href *=".pdf#"], div#content a.external[href *=".PDF#"],
div#content a.external[href *=".pdf?"], div#content a.external[href *=".PDF?"],
.link-document {
  padding-right: 13px;
}

.redirectText {
}

.redirectMsg img {
  vertical-align: text-bottom;
}

#bodyContent {
  position: relative;
  width: 100%;
}
div#bodyContent {
  line-height: 1.5em;
}

/* mediawiki.notification */
.skin-vector #mw-notification-area {
  top: 7em;
  font-size: 0.8125em;
}
.skin-vector .mw-notification {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 0.75em 1.5em;
  border: solid 1px #a7d7f9;
  border-radius: 0.75em;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
}

/* Watch/Unwatch Icon Styling */
#ca-unwatch.icon a,
#ca-watch.icon a {
  margin: 0;
  padding: 0;
  outline: none;
  display: block;
  width: 26px;
  /* This hides the text but shows the background image */
  padding-top: 3.1em;
  margin-top: 0;
  /* Only applied in IE6 */
  margin-top: -0.8em !ie;
  height: 0;
  overflow: hidden;
}
#ca-unwatch.icon a {
  background-position: -43px 60%;
}
#ca-watch.icon a {
  background-position: 5px 60%;
}
#ca-unwatch.icon a:hover,
#ca-unwatch.icon a:focus {
  background-position: -67px 60%;
}
#ca-watch.icon a:hover,
#ca-watch.icon a:focus {
  background-position: -19px 60%;
}
#ca-unwatch.icon a.loading,
#ca-watch.icon a.loading {
}
#ca-unwatch.icon a span,
#ca-watch.icon a span {
  display: none;
}
div.vectorTabs ul {
}

.printfooter {
  display: none;
}

.service-title {
  margin-bottom: .7em;
}

footer.bigfoot nav {
    max-width: 40em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


/* Head */
#mw-head {
  padding: 0 1em;
  border-bottom: 1px solid #ccc;
}
#mw-head #p-views > ul > li {
  display: inline;
  margin-left: 1em;
}
#mw-head #p-views > ul > li > a {
  font-size: .8125em;
  display: inline;
  margin-left: 1em;
}

#mw-head .icon-caret-down {
  color: #777;
}

#p-views, #p-search {
  float: right;
}
#p-search {
  margin-left: 2em;
}
#p-search h5 {
  display: none;
}
#p-cactions {
  float: right;
}

#p-cactions h5 {
  display: inline;
}


header a:hover {
  text-decoration: none;
}

#p-views, .portal, .editsection, #footer {
  font-family: 'OpenSans', 'Verdana', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
}
#content {
  margin-top: 1em;
}

#editform textarea {
  width: 100%;
}

#editpage-copywarn {
  display: none;
}

.editCheckboxes {
  margin: 0 0 1em;
}
.editCheckboxes label {
  display: inline;
  margin: 1em 1em 1em 0;
}

.editButtons {
  font-size: 0.8125em;
}

.cancelLink #mw-editform-cancel {
  color: black !important;
}

.editHelp {
  display: block;
  margin-top: 1em;
}

#toc, .toc, .mw-warning {
  font-size: 1em;
}

.editsection {
  font-size: 0.6em !important;
}

.mw-input label {
  display: inline;
}

table#mw-htmlform-info th,
table#mw-htmlform-info td,
table#mw-htmlform-info td label {
  font-size: 13px !important;
}

