body  {
  margin: 2.6em 0 0 0;
}
header a:hover {
  text-decoration: none;
}

#mw-head, .portal, .editsection, #footer {
  font-family: 'OpenSans', 'Verdana', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
}
#content {
  margin-top: 1em;
}

#editform textarea {
  width: 100%;
}

#editpage-copywarn {
  display: none;
}

.editButtons {
  font-size: 0.8125em;
}

a#mw-editform-cancel {
  color: black !important;
}

#toc, .toc, .mw-warning {
  font-size: 1em;
}

.editsection {
  font-size: 0.6em !important;
}
