div#mw-head h5 {
  margin: 0;
  padding: 0;
}
/* Hide empty portlets */
div.emptyPortlet {
    display: none;
}
/* Personal */
#p-personal {
}
#p-personal h5 {
  display: none;
}
#p-personal ul {
  list-style: none;
  margin: 0;
  padding-left: 10em; /* Keep from overlapping logo */
}
/* @noflip */
#p-personal li {
  line-height: 1.125em;
  float: left;
}
/* This one flips! */
#p-personal li {
  margin-left: 0.75em;
  margin-top: 0.5em;
  font-size: 0.8125em;
  white-space: nowrap;
}
/* Navigation Containers */
#right-navigation {
  float: right;
  margin-top: 0em;
}
/* Navigation Labels */
div.vectorTabs h5,
div.vectorMenu h5 span {
  display: none;
}
/* Namespaces and Views */
/* @noflip */
div.vectorTabs {
  float: left;
  height: 2.5em;
}
/* @noflip */
div.vectorTabs ul {
  float: left;
}
div.vectorTabs ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* @noflip */
div.vectorTabs ul li {
  float: left;
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorTabs ul li {
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* IGNORED BY IE6 */
div.vectorTabs ul > li {
  display: block;
}
div.vectorTabs li.selected {
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorTabs li a {
  display: inline-block;
  height: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  font-size: 0.8125em;
}
/* IGNORED BY IE6 */
div.vectorTabs li > a {
  display: block;
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorTabs span a  {
  display: inline-block;
  padding-top: 1.25em;
}
/* IGNORED BY IE6 */
/* @noflip */
div.vectorTabs span > a {
  display: block;
}
div.vectorTabs span {
  display: inline-block;
}
div.vectorTabs li.selected a,
div.vectorTabs li.selected a:visited{
}
div.vectorTabs li.new a,
div.vectorTabs li.new a:visited{
}
/* Variants and Actions */
/* @noflip */
div.vectorMenu {
  direction: ltr;
  cursor: pointer;
}
div.vectorMenuFocus {
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
/* @noflip */
div#mw-head div.vectorMenu h5 {
}
/* This will be flipped - unlike the one above it */
div#mw-head div.vectorMenu h5 {
  background-position: bottom left;
  margin-left: -1px;
}
/* IGNORED BY IE6 */
div#mw-head div.vectorMenu > h5 {
  background-image: none;
}
div#mw-head div.vectorMenu h4 {
  display: inline-block;
  float: left;
  font-size: 0.8125em;
  padding-left: 0.5em;
  padding-top: 1.375em;
  font-weight: normal;
  border: none;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorMenu h5 a {
  display: inline-block;
  width: 24px;
  height: 2.5em;
  text-decoration: none;
}
/* This will be flipped - unlike the one above it */
div.vectorMenu h5 a {
}
/* IGNORED BY IE6 */
div.vectorMenu h5 > a {
  display: block;
}
div.vectorMenu div.menu {
  position: relative;
  display: none;
  clear: both;
  text-align: left;
}
/* Enable forcing showing of the menu for accessibility */
div.vectorMenu:hover div.menu,
div.vectorMenu div.menuForceShow {
  display: block;
}
div.vectorMenu ul {
  background-color: white;
  border: solid 1px silver;
  border-top-width: 0;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -1px;
  text-align: left;
}
/* Fixes old versions of FireFox */
div.vectorMenu ul,
x:-moz-any-link {
  min-width: 5em;
}
/* Returns things back to normal in modern versions of FireFox */
div.vectorMenu ul,
x:-moz-any-link,
x:default {
  min-width: 0;
}
div.vectorMenu li {
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1em;
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorMenu li a {
  display: inline-block;
  padding: 0.5em;
  white-space: nowrap;
  color: #0645ad;
  cursor: pointer;
  font-size: 0.8125em;
}
/* IGNORED BY IE6 */
div.vectorMenu li > a {
  display: block;
}
div.vectorMenu li.selected a,
div.vectorMenu li.selected a:visited {
  color: #333;
  text-decoration: none;
}

